kitz_os/data/n8n-workflows/content-translate.json
{
  "name": "KITZ — Content Translator (ES/EN)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitz-translate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mkt-translate-0001",
      "name": "Webhook — Translate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kitz-os:3012/api/kitz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-service-secret", "value": "dev-secret-change-me" },
            { "name": "x-trace-id", "value": "={{$runId}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Translate the following text from {{ $json.from || 'es' }} to {{ $json.to || 'en' }}. Maintain the brand voice (Gen Z clarity, disciplined founder). Preserve formatting and any placeholders like {{name}}. Text: {{ $json.text }}\",\n  \"channel\": \"system\",\n  \"userId\": \"n8n-automation\"\n}",
        "options": {}
      },
      "id": "mkt-translate-0002",
      "name": "Translate via KITZ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "mkt-translate-0003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook — Translate": {
      "main": [[{ "node": "Translate via KITZ", "type": "main", "index": 0 }]]
    },
    "Translate via KITZ": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "kitz" }, { "name": "marketing" }, { "name": "translation" }]
}
