kitz_os/data/n8n-workflows/new-lead-notification.json
{
  "name": "KITZ — New Lead Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitz-new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000001",
      "name": "Webhook — New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kitz-os:3012/api/kitz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-service-secret",
              "value": "dev-secret-change-me"
            },
            {
              "name": "x-trace-id",
              "value": "={{$runId}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"New lead received: {{ $json.name }} from {{ $json.source }}. Score this lead and draft a WhatsApp follow-up.\",\n  \"channel\": \"system\",\n  \"userId\": \"n8n-automation\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000002",
      "name": "Score Lead via KITZ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook — New Lead": {
      "main": [
        [
          {
            "node": "Score Lead via KITZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead via KITZ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "kitz"
    }
  ]
}
