kitz_os/data/n8n-workflows/order-fulfillment.json
{
  "name": "KITZ — Order Fulfillment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitz-order-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4bbb-b222-000000000001",
      "name": "Webhook — Order Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kitz-os:3012/api/kitz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-service-secret",
              "value": "dev-secret-change-me"
            },
            {
              "name": "x-trace-id",
              "value": "={{$runId}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"New order created: Order {{ $json.order_id }} for {{ $json.total }}. Update fulfillment status and notify the customer.\",\n  \"channel\": \"system\",\n  \"userId\": \"n8n-automation\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4bbb-b222-000000000002",
      "name": "Process Order via KITZ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kitz-os:3012/api/kitz/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-service-secret",
              "value": "dev-secret-change-me"
            },
            {
              "name": "x-trace-id",
              "value": "={{$runId}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"order_processed\",\n  \"data\": {\n    \"order_id\": \"{{ $json.order_id }}\"\n  },\n  \"workflow_id\": \"order-fulfillment\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4bbb-b222-000000000003",
      "name": "Notify KITZ — Order Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4bbb-b222-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook — Order Created": {
      "main": [
        [
          {
            "node": "Process Order via KITZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Order via KITZ": {
      "main": [
        [
          {
            "node": "Notify KITZ — Order Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify KITZ — Order Processed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "kitz"
    }
  ]
}
