kitz_os/data/n8n-workflows/payment-received.json
{
  "name": "KITZ — Payment Received",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitz-payment-received",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4e5f6a7-4444-4ddd-b444-000000000001",
      "name": "Webhook — Payment Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kitz-os:3012/api/kitz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-service-secret",
              "value": "dev-secret-change-me"
            },
            {
              "name": "x-trace-id",
              "value": "={{$runId}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Payment received: ${{ $json.amount }} from {{ $json.buyer }} via {{ $json.provider }}. Update the order and draft a thank-you message.\",\n  \"channel\": \"system\",\n  \"userId\": \"n8n-automation\"\n}",
        "options": {}
      },
      "id": "d4e5f6a7-4444-4ddd-b444-000000000002",
      "name": "Process Payment via KITZ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d4e5f6a7-4444-4ddd-b444-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook — Payment Received": {
      "main": [
        [
          {
            "node": "Process Payment via KITZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Payment via KITZ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "kitz"
    }
  ]
}
